[[extend 'layout.html']]

<div id="vue-target" data-restaurant-id="[[=restaurant_id]]">
    <div class="section" id="vue-target" v-cloak>
        <h1 class="title has-text-centered">Admin Page for [[=restaurant_name]]</h1>
        <a class="button is-normal return-button" href="[[=URL('index')]]">
            <i class="fa fa-arrow-left"> Return to Main Menu</i>
        </a>
    </div>
  <div class="tabs is-centered is-boxed is-medium">
  </div>

<!-- Add Item Form -->
<div class="box" v-if="tab === 'add' || items.length === 0">
    <form @submit.prevent="addItem">
        <div class="field">
            <label class="label">Item name</label>
            <div class="control">
                <input class="input" type="text" v-model="newItem.name" placeholder="Item name">
            </div>
        </div>

        <div class="field">
            <label class="label">Item description</label>
            <div class="control">
                <input class="input" type="text" v-model="newItem.description" placeholder="Item description">
            </div>
        </div>

        <div class="file has-name is-fullwidth">
            <label class="file-label">
                <input class="file-input" type="file" ref="file" @change="handleFileUpload">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">Choose a file…</span>
                </span>
            </label>
        </div>
        
        <div class="field is-grouped">
            <div class="control">
                <button class ="button is-success" @click="is-link();tab = 'sevenkevintortilla'">Add</button>
            </div>
        </div>
    </form>
</div>

<!-- Edit Item Form -->
<div class="box" v-if="tab === 'edit'">
    <div class="field">
        <label class="label">Select an item to edit</label>
        <div class="control">
            <div class="select is-fullwidth">
                <select v-model="selectedItemId" @change="populateItemDetails(selectedItemId)">
                    <option v-for="item in items" :value="item.id">{{item.name}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Item name</label>
        <div class="control">
            <input class="input" type="text" v-model="selectedItemName" placeholder="Item name">
        </div>
    </div>

    <div class="field">
        <label class="label">Item description</label>
        <div class="control">
            <input class="input" type="text" v-model="selectedItemDescription" placeholder="Item description">
        </div>
    </div>

    <div class="file has-name is-fullwidth">
        <label class="file-label">
            <input class="file-input" type="file" ref="editFile" @change="handleEditFileUpload">
            <span class="file-cta">
                <span class="file-icon">
                    <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">Choose a file…</span>
            </label>
        </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link" @click="editItem(); tab = adder">Edit</button>
        </div>
    </div>
</div>


<!-- Remove Item -->
<div class="columns is-multiline">
    <div class="column is-one-fifth" v-for="item in items" :key="item.id">
        <div class="card">
            <div class="card-content">
                <p class="title">{{item.name}}</p>
                <button class ="button is-success" @click="tab = 'add'">Add</button>
                <button class ="button is-info" @click="populateItemDetails(item.id); tab = 'edit'">Edit Item</button>
                <button class="button is-danger" @click="selectedItemId = item.id; removeItem()">Remove</button>
            </div>
        </div>
    </div>
</div>





  [[block page_scripts]]
  <script>
    let getRestaurantsUrl = "[[=XML(get_restaurants_url)]]";
    let getItemsUrl = "[[=XML(get_items_url)]]";
    let addItemsUrl = "[[=XML(add_items_url)]]";
    let editItemsUrl = "[[=XML(edit_items_url)]]";
    let removeItemsUrl = "[[=XML(remove_items_url)]]";
  </script>
  <script src="js/axios.js"></script>
  <script src="js/sugar.js"></script>
  <script src="js/admin.js"></script>
  [[end]]
</div>