[[extend 'layout.html']]

<div id="vue-target" data-restaurant-id="[[=restaurant_id]]">
    <h1 class="level-item title has-text-centered my-6">Admin Page - [[=restaurant_name]]</h1>
    <div class="level section" id="vue-target" v-cloak>
        <div class="level-left">
            <a class="level-item button is-normal return-button" href="[[=URL('landing')]]">
                <i class="fa fa-arrow-left"> Return to Main Menu</i>
            </a>
        </div>
        <div class="level-right">
            <a class="level-item button is-info" @click="toggle_set_search">Modify Administrator Users</a>
        </div>
    </div>
    <div class="tabs is-centered is-boxed is-medium"></div>

<!-- Add Auth Users Form -->
    <div class="box" v-if="set_search === true">
        <label class="label">Authenticated Users</label>
        <div v-for="user in authenticated_users">
            <div class="box is-shadowless">{{user}}</div>
        </div>
        <label class="label">Modify Administrator Users</label>
        <div class="field">
            <p class="control has-icons-right">
                <input class="input" type="text" v-model="search_text" @keyup="search" placeholder="Search users">
                <span class="icon is-small is-right clickable" @click="search_text=''; search()">
                    <i class="fa fa-times-circle"></i>
                </span>
            </p>
        </div>
        <div v-for="user in users" class="box">
            <span class="mx-3">{{user.username}}</span>
            <button class="button" @click="add_authorized_user(user)">Add</button>
            <button class="button" @click="delete_authorized_user(user)">Remove</button>
        </div>
        
        <div class="button" @click="toggle_set_search">Close</div>
    </div>

<!-- Add Item Form -->
<div class="box" v-if="tab === 'add' || items.length === 0">
    <div class="field">
        <label class="label">Item name</label>
        <div class="control">
            <input class="input" type="text" v-model="newItem.name" placeholder="Item name">
        </div>
    </div>

    <div class="field">
        <label class="label">Item description</label>
        <div class="control">
            <input class="input" type="text" v-model="newItem.description" placeholder="Item description">
        </div>
    </div>

    <div class="file has-name is-fullwidth my-2">
        <label class="file-label">
            <input class="file-input" type="file" ref="file" @change="handleFileUpload">
            <span class="file-cta">
                <span class="file-icon">
                    <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">Choose a file…</span>
            </span>
        </label>
    </div>
    
    <div class="field is-grouped">
        <div class="control">
            <button class ="button is-success" @click="addItem()">Add</button>
        </div>
    </div>
</div>

<!-- Edit Item Form -->
<div class="box" v-if="tab === 'edit'">
    <div class="field">
        <label class="label">Select an item to edit</label>
        <div class="control">
            <div class="select is-fullwidth">
                <select v-model="selectedItemId" @change="populateItemDetails(selectedItemId)">
                    <option v-for="item in items" :value="item.id">{{item.name}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Item name</label>
        <div class="control">
            <input class="input" type="text" v-model="selectedItemName" placeholder="Item name">
        </div>
    </div>

    <div class="field">
        <label class="label">Item description</label>
        <div class="control">
            <input class="input" type="text" v-model="selectedItemDescription" placeholder="Item description">
        </div>
    </div>

    <div class="file has-name is-fullwidth my-2">
        <label class="file-label">
            <input class="file-input" type="file" ref="editFile" @change="handleEditFileUpload">
            <span class="file-cta">
                <span class="file-icon">
                    <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">Choose a file…</span>
            </label>
        </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link" @click="editItem();tab=''">Edit</button>
        </div>
    </div>
</div>


<!-- Remove Item -->
<div class="columns is-multiline">
    <div class="column is-one-fifth" v-for="item in items" :key="item.id">
        <div class="card">
            <div class="card-content">
                <p class="title">{{item.name}}</p>
                <button class ="button is-success" @click="tab = 'add'">Add</button>
                <button class ="button is-info" @click="populateItemDetails(item.id); tab = 'edit'">Edit Item</button>
                <button class ="button is-danger" @click="selectedItemId = item.id; removeItem()">Remove</button>
            </div>
        </div>
    </div>
</div>





  [[block page_scripts]]
  <script>
    let search_url = "[[=XML(search_url)]]";
    let add_authorized_user_url = "[[=XML(add_authorized_user_url)]]";
    let delete_authorized_user_url = "[[=XML(delete_authorized_user_url)]]";
    let get_users_url = "[[=XML(get_users_url)]]";
    let get_authorized_users_url = "[[=XML(get_special_users_url)]]"
    let getRestaurantsUrl = "[[=XML(get_restaurants_url)]]";
    let getItemsUrl = "[[=XML(get_items_url)]]";
    let addItemsUrl = "[[=XML(add_items_url)]]";
    let editItemsUrl = "[[=XML(edit_items_url)]]";
    let removeItemsUrl = "[[=XML(remove_items_url)]]";
  </script>
  <script src="js/axios.js"></script>
  <script src="js/sugar.js"></script>
  <script src="js/admin.js"></script>
  [[end]]
</div>