[[extend 'layout.html']]

<div class="section" id="vue-target" v-cloak>
    <!-- Button for Dark/Light Mode-->
    <div class="field has-addons">
        <div class="control">
            <button class="button is-dark" v-on:click="toggle_light_mode" v-if="light_mode == true">
                <span class="icon is-small"><i class="fa fa-moon-o"></i></span>
            </button>
            <button class="button is-light" v-on:click="toggle_light_mode" v-else>
                <span class="icon is-small"><i class="fa fa-sun-o"></i></span>
            </button>
        </div>

    </div>
    <div>
        <a :href="'/ecobuffet/index/'"
           :class="{'has-text-light': !light_mode}">Home</a>
    </div>
    <div class="columns">
        <div class="column">
            <div class="box">
                <h2 class="title" :class="{'has-text-light': !light_mode}">New Accounts</h2>
                <div v-for="user in users" :class="{'has-text-light': !light_mode}">
                    {{user.username}}
                </div>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <h2 class="title" :class="{'has-text-light': !light_mode}">New Orders</h2>
                <div v-for="order in orders" :class="{'has-text-light': !light_mode}">
                    {{order.name}}
                </div>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <h2 class="title" :class="{'has-text-light': !light_mode}">Customize</h2>
            </div>
        </div>
    </div>
</div>

[[block page_scripts]]

<script>
    let get_users_url = "[[=XML(get_users_url)]]";
    let get_items_url = "[[=XML(get_items_url)]]";
</script>

<script src="js/axios.js"></script>
<script src="js/sugar.js"></script>
<script src="js/dashboard.js"></script>
[[end]]