[[extend 'layout.html']]

<div class="section" id="vue-target" v-cloak>
    <!-- Button for Dark/Light Mode-->
    <div class="field has-addons">
        <div class="control">
            <button class="button is-dark" v-on:click="toggle_light_mode" v-if="light_mode == true">
                <span class="icon is-small"><i class="fa fa-moon-o"></i></span>
            </button>
            <button class="button is-light" v-on:click="toggle_light_mode" v-else>
                <span class="icon is-small"><i class="fa fa-sun-o"></i></span>
            </button>
        </div>

    </div>
    <div>
        <a class="button is-normal return-button is-info" href="[[=URL('landing')]]">
            <span class="icon is-small"><i class="fa fa-arrow-left"></i></span>
                <span>Return to Main Menu</span>
        </a>
    </div>
    <div class="block"></div>
    <div>
        <a class="button is-normal return-button is-info" href="[[=URL('restaurants/' + str(restaurant_id))]]">
            <span class="icon is-small"><i class="fa fa-arrow-left"></i></span>
                <span>Return to Restaurant</span>
        </a>
    </div>
    <div class="block has-text-centered">
        <h2 class="title":class="{'has-text-light': !light_mode}">{{restaurant_name}}</h2>
        <h2 class="subtitle":class="{'has-text-light': !light_mode}">{{restaurant_description}}</h2>
    </div>
    <div class="columns">
        <div class="column">
            <div class="box">
                <h2 class="title" :class="{'has-text-light': !light_mode}">New Accounts</h2>
                <div v-for="user in users" :class="{'has-text-light': !light_mode}">
                    {{user.username}}
                </div>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <h2 class="title" :class="{'has-text-light': !light_mode}">Most Liked Items</h2>
                <div v-for="item in orders" :class="{'has-text-light': !light_mode}">
                    {{item.name}} : {{item.likes}} likes
                </div>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <h2 class="title" :class="{'has-text-light': !light_mode}">Customize</h2>
                <label class="label" :class="{'has-text-light': !light_mode}">Modify Restaurant Name</label>
                <div class="field">
                    <p class="control has-icons-right">
                        <input class="input" type="text" v-model="restaurant_name" placeholder="Name Here">
                    </p>
                    <button class="button my-3 is-success" @click="modify_restaurant_name([[=str(restaurant_id)]])">Save</button>
                </div>
                <label class="label" :class="{'has-text-light': !light_mode}">Modify Restaurant Description</label>
                <div class="field">
                    <p class="control has-icons-right">
                        <input class="input" type="text" v-model="restaurant_description" placeholder="Description Here">
                    </p>
                    <button class="button my-3 is-success" @click="modify_restaurant_description([[=str(restaurant_id)]])">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

[[block page_scripts]]

<script>
    let get_users_url = "[[=XML(get_users_url)]]";
    let get_items_url = "[[=XML(get_items_url)]]";
    let get_user_likes_url = "[[=XML(get_user_likes_url)]]";
    let modify_restaurant_name_url = "[[=XML(modify_restaurant_name_url)]]";
    let modify_restaurant_description_url = "[[=XML(modify_restaurant_description_url)]]";
    let get_restaurant_name_url = "[[=XML(get_restaurant_name_url)]]";
</script>

<script src="js/axios.js"></script>
<script src="js/sugar.js"></script>
<script src="js/dashboard.js"></script>
[[end]]