[[extend 'layout.html']]

<style>
  .hero-background {
    background: url("../static/images/6VLs.gif");
    background-size: cover;
    position: relative;
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.502);
  }
  
  .content-container {
    position: relative;
    color: #fff;
  }

  .title {
    font-size: 3em;
    text-shadow: 2px 2px #000;
    animation: fadeIn 2s;
  }

  .subtitle {
    font-size: 1.5em;
    text-shadow: 1px 1px #000;
    animation: fadeIn 3s;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
</style>

<div class="hero is-fullheight hero-background">
  <div class="hero-overlay"></div>
  <div class="hero-body">
    <div class="container has-text-centered content-container">
      <h1 class="title has-text-white">
        Welcome to Eco Buffet!
      </h1>
      <h2 class="subtitle has-text-white">
        Look at our partner restaurants
      </h2>
      <a class="button is-primary" href="[[=URL('landing')]]">Explore Now</a>
    </div>
  </div>
</div>
