[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>
<template>
  <router-view/>
</template>
<div class="section" id="vue-target" v-cloak>
  <!-- Button for Dark/Light Mode-->
  <div class="field has-addons">
    <div class="control">
      <button class="button is-dark" v-on:click="toggle_light_mode" v-if="light_mode == true">
        <span class="icon is-small"><i class="fa fa-moon-o"></i></span>
      </button>
      <button class="button is-light" v-on:click="toggle_light_mode" v-else>
        <span class="icon is-small"><i class="fa fa-sun-o"></i></span>
      </button>
    </div>
  </div>
  <!-- Put here your Vue.js template -->
  <div class="box">
    <div>Restaurants</div>
    <div v-for="restaurant in restaurants">
      <!-- Iterates through all the restaurants -->
      <div class="box">
        <!-- Link to the restaurant's page. -->
        <a :href="'/ecobuffet/restaurants/' + restaurant.id">{{restaurant.name}}</a>
      </div>
    </div>
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_restaurants_url = "[[=XML(get_restaurants_url)]]";
</script>

<script src="js/axios.js"></script>
<script src="js/sugar.js"></script>
<script src="js/index.js"></script>
[[end]]
