[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}

/* Add animation for button */
.button {
    transition: transform .2s;
}

.button:hover {
    transform: scale(1.1);
}

/* Add animation for cards */
.card {
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn .5s forwards;
    transition: background-color .5s;
}

.card:nth-child(1) {
    animation-delay: .1s;
}

.card:nth-child(2) {
    animation-delay: .2s;
}

.card:nth-child(3) {
    animation-delay: .3s;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
</style>

<div class="section" id="vue-target" v-cloak>
  <!-- Button for Dark/Light Mode-->
  <div class="field has-addons">
    <div class="control">
      <button class="button is-dark" v-on:click="toggle_light_mode" v-if="light_mode == true">
        <span class="icon is-small"><i class="fa fa-moon-o"></i></span>
      </button>
      <button class="button is-light" v-on:click="toggle_light_mode" v-else>
        <span class="icon is-small"><i class="fa fa-sun-o"></i></span>
      </button>
    </div>
    <!-- Add New Restaurant Button -->
    <div class="control">
      <a class="button is-info" href="/ecobuffet/add_restaurant">
        <span class="icon is-small"><i class="fa fa-plus"></i></span>
        <span>Add New Restaurant</span>
      </a>
    </div>
  </div>
  <!-- Restaurants Section -->
  <div class="box">
      <h1 class="title has-text-centered" :class="{'has-text-light': !light_mode}">Restaurants</h1>
      <div class="columns is-multiline">
          <div class="column is-one-third" v-for="(restaurant, index) in restaurants">
              <!-- Restaurant Card -->
              <div class="card" :class="{'has-background-dark': !light_mode}" :style="'animation-delay:' + (index * 0.1) + 's'">
                  <div class="card-content">
                      <!-- Link to the restaurant's page. -->
                      <p class="title is-4">
                          <a :href="'/ecobuffet/restaurants/' + restaurant.id" 
                             :class="{'has-text-light': !light_mode}">
                             {{restaurant.name}}
                          </a>
                      </p>
                      <!-- Link to the restaurant's admin page. -->
                      <p class="subtitle is-6">
                          <a :href="'/ecobuffet/admin/' + restaurant.id"
                             :class="{'has-text-light': !light_mode}">
                             Admin
                          </a>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_restaurants_url = "[[=XML(get_restaurants_url)]]";
</script>

<script src="js/axios.js"></script>
<script src="js/sugar.js"></script>
<script src="js/index.js"></script>
[[end]]
