[[extend 'layout.html']]
<div class="section" id="vue-target" v-cloak>
    <!-- Button for Dark/Light Mode-->
    <div class="field has-addons">
        <div class="control">
            <button class="button is-dark" v-on:click="toggle_light_mode" v-if="light_mode == true">
                <span class="icon is-small"><i class="fa fa-moon-o"></i></span>
            </button>
            <button class="button is-light" v-on:click="toggle_light_mode" v-else>
                <span class="icon is-small"><i class="fa fa-sun-o"></i></span>
            </button>
        </div>
    </div>
    <a class="button is-normal return-button" :class="{'is-dark': !light_mode, 'is-light': light_mode}" href="[[=URL('index')]]">
        <i class="fa fa-arrow-left" :class="{'has-text-light': !light_mode, 'has-text-dark': light_mode}">Return to Main Menu</i>
    </a>
    <h1 class="title has-text-centered restaurant-name">{{restaurant_name}}</h1>
    <div class="section" id="vue-target" v-cloak>
        <div class="box">
            <h1 class="title has-text-centered is-4 menu-item">Menu</h1>
            <div class="tile-ancestor">
                <!-- Generate a menu of items in a grid -->
                <div class="tile is-parent" v-for="group in formatted_items">
                    <div class="tile is-child is-vertical" v-for="idx in group">
                        <div v-if="idx != null">
                            <div class="box is-shadowless">
                                <!-- Add the "menu-item" class to each item -->
                                <span class="tile title is-6 level-item menu-item">{{items[idx].name}}</span>
                                <div class="tile level">
                                    <a class="button is-success is-light level-item block m-0" @click="like_item(idx)">Like - {{items[idx].likes}}</a>
                                    <a class="button is-danger is-light level-item block m-0" @click="dislike_item(idx)">Dislike - {{items[idx].dislikes}}</a>
                                </div>
                                <figure class="image is-4by3 tile">
                                    <img :src="items[idx].image" class="tile has-text-centered menu-item">{{items[idx].image}}</img>
                                </figure>
                                <div class="box tile">{{items[idx].description}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    [[block page_scripts]]
    <!-- Loads the index-specific js for Vue -->
    <script>
      let get_restaurants_url = "[[=XML(get_restaurants_url)]]";
      let get_restaurant_name_url = "[[=XML(get_restaurant_name_url)]]";
      let get_items_url = "[[=XML(get_items_url)]]";
      let like_item_url = "[[=XML(like_item_url)]]";
      let dislike_item_url = "[[=XML(dislike_item_url)]]";
    </script>
    
    <script src="js/axios.js"></script>
    <script src="js/sugar.js"></script>
    <script src="js/restaurant.js"></script>
    [[end]]





