[[extend 'layout.html']]

<div class="section" id="vue-target" v-cloak>
    <div class="columns">
        <div class="column">
            New Accounts
            <div v-for="user in users">
                {{user.username}}
            </div>
        </div>
        <div class="column">
            New Orders
            <div v-for="order in orders">
                {{order.name}}
            </div>
        </div>
        <div class="column">
            Customize
            
        </div>
    </div>
</div>

[[block page_scripts]]

<script>
    let get_users_url = "[[=XML(get_users_url)]]";
    let get_items_url = "[[=XML(get_items_url)]]";
</script>

<script src="js/axios.js"></script>
<script src="js/sugar.js"></script>
<script src="js/dashboard.js"></script>
[[end]]
